.categories-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    > * {
        border-bottom: 1px solid $gray-c4;

        &:last-child {
            border-bottom: 0;
        }
    }

    @media(min-width: $screen-md) {
        flex-direction: row;
        flex-wrap: wrap;

        > * {
            width: calc(33% - 5rem);

            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                border-bottom: 1px solid $gray-c4;
            }

            &:nth-child(2), &:nth-child(5) {
                border-right: 1px solid $gray-c4;
                border-left: 1px solid $gray-c4;
            }

            &:nth-child(4), &:nth-child(5) {
                border-bottom: 0;
            }
        }
    }

    @media(min-width: $screen-lg) {
        flex-direction: row;
        flex-wrap: nowrap;

        > * {
            width: auto;

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                border-right: 1px solid $gray-c4;
                border-bottom: 0;
            }

            &:nth-child(2), &:nth-child(5) {
                border-left: 0;
            }

            &:nth-child(5) {
                border-bottom: 0;
            }
        }
    }
}
