.footer {
    background: $secondary;
}

.footer__wrapper {
    @extend %wrapper;

    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: 1rem;
    }

    @media(min-width: $screen-md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.footer__resume {
    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: 2rem;
    }

    @media(min-width: $screen-md) {
        flex-direction: row;

        > * {
            margin-bottom: 0;
        }
    }
}

.footer__resume-contact {
    display: flex;
    flex-direction: column;

    @media(min-width: $screen-md) {
        margin-right: 4rem;
    }
}

.footer__logo {
    margin-bottom: 1rem;

    img {
        max-height: 80px;
    }

    @media(min-width: $screen-md) {
        margin-bottom: 2rem;
    }
}

.footer__info {
    @include font-size(16px);
}

.footer__resume-jobs {
    display: flex;
    flex-direction: column;
    

    @media(min-width: $screen-md) {
        margin-right: 4rem;
    }
}

.footer__resume-title {
    @include font-size(16px);

    margin-bottom: 1rem;
    color: $primary;

    @media(min-width: $screen-md) {
        margin-bottom: 2rem;
    }
}

.footer__resume-link {
    @include font-size(16px);

    margin-bottom: 0.5rem;
    color: $white;

    @media(min-width: $screen-md) {
        margin-bottom: 1rem;
    }
}

.footer__social-link {
    @include font-size(20px);

    color: $white;

    &:hover {
        color: $primary;
    }

    @media(min-width: $screen-md) {
        margin-right: 1rem;
        align-self: flex-end;
    }
}
