.header {
    position: sticky;
    top: 0;
    height: $header-height;
    color: $white;
    background: $secondary;
    z-index: $header-z-index;
}

.header__wrapper {
    @extend %wrapper;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width: $screen-md) {
        justify-content: space-between;
    }
}

.header__logo {
    img {
        max-height: 40px;
    }
}

.header__menu {
    display: none;
    flex-direction: row;

    @media(min-width: $screen-md) {
        display: flex;
    }
}

.header__menu-link {
    @include font-size(16px);

    margin-right: 2rem;
    color: $white;
    text-transform: uppercase;

    &:hover {
        border-bottom: 2px solid $white;
    }
}

.header__mobile-menu {
    @include font-size(18px);

    padding: 0.5rem;
    width: 40px;
    height: 40px;
    color: $secondary;
    background: $primary;
    border-radius: $border-radius-sm;
}

.header__balance {
    width: 40px;
    height: 40px;
}
