.header {
    height: $header-height;
    color: $white;
    background: $secondary;
}

.header__wrapper {
    @extend %wrapper;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    img {
        max-height: 40px;
    }
}

.header__mobile-menu {
    @include font-size(18px);

    padding: 0.5rem;
    width: 40px;
    height: 40px;
    color: $secondary;
    background: $primary;
    border-radius: $border-radius-sm;
}

.header__balance {
    width: 40px;
    height: 40px;
}
