.job-list {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    width: 100%;

    > a {
        border-bottom: 1px solid $gray-c4;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.job-list__title {
    @include font-size(25px);

    margin-bottom: 2rem;
    color: $secondary;
    text-align: center;
}

.job-list__view-all-link {
    @include font-size(16px);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.job-list__view-all-text {
    @include font-size(16px);
}
