.job-category {
    @include font-size(30px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
    color: $primary;
    background: $white;

    transition: transform 0.25s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;

    &:hover {
        z-index: $job-card-z-index;
        border: 0;
        box-shadow: $box-shadow-hover;
        transform: scale(1.02);
    }

    @media(min-width: $screen-lg) {
        margin-top: -85px;
    }
}

.job-category__name {
    @include font-size(16px);

    margin-bottom: 1rem;
    color: $gray-4a;
    text-align: center;
}

.job-category__amount {
    @include font-size(14px);

    margin-top: 1rem;
    color: $gray-97;
    text-align: center;
}

