.job-detail {
    min-height: 200px;
    background: $secondary;

    @media(min-width: $screen-md) {
        min-height: 400px;
    }
}

.job-detail__wrapper {
    @extend %wrapper;

    display: 'flex';
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media(min-width: $screen-md) {
        flex-direction: row;
    }
}

.job-detail__title {
    @include font-size(25px);

    margin-top: 0;
    margin-bottom: 1rem;
    color: $white;

    @media(min-width: $screen-md) {
        @include font-size(50px);
    }
}

.job-detail__reference {
    @include font-size(20px);

    margin-top: 0;
    margin-bottom: 1rem;
    color: $white;

    @media(min-width: $screen-md) {
        @include font-size(30px);
    }
}

.job-detail__container {
    display: flex;
    flex-direction: column;

    @media(min-width: $screen-md) {
        flex-direction: row;
    }
}

.job-detail__description {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding: 0 2rem 2rem;
    background: $white;
    border-radius: $border-radius;

    @media(min-width: $screen-md) {
        margin: -10rem 2rem 0 0;
    }
}

.job-detail__subtitle {
    @include font-size(20px);

    margin: 2rem 0 1rem;
    color: $secondary;
}

.job-detail__text {
    @include font-size(16px);

    margin: 0;
    color: $gray-4a;
}

.job-detail__items {
    @include font-size(16px);

    padding-left: 2rem;
    color: $gray-4a;
    list-style-type: disc;

    li {
        margin-bottom: 0.5rem;
        color: $gray-4a;
    }
}

.job-detail__overview {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 2rem;
    padding: 2rem;
    height: fit-content;
    background: $white;
    border-radius: $border-radius;

    @media(min-width: $screen-md) {
        margin-top: -10rem;
        margin-bottom: 0;
    }
}

.job-detail__icon {
    @include font-size(40px);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: $primary;

    @media(min-width: $screen-md) {
        @include font-size(40px);
    }
}

.job-detail__additional-info {
    display: flex;
    margin-bottom: 1rem;
}

.job-detail__info-name {
    @include font-size(16px);

    margin-right: 0.5rem;
}

.job-detail__info-value {
    @include font-size(16px);

    color: $gray-4a;
}

.job-detail__info-value--primary {
    color: $primary;
    text-decoration: underline;
}
