.main {
    position: relative;
    min-height: 100vh;
    background: $gray-ef;
}

.main__content {
    padding-top: $header-height;
    padding-bottom: 150px;

    @media(min-width: $screen-md) {
        padding-top: $header-height-md;
    }
}
