/*------------------------------------*\
    # Buttons
\*------------------------------------*/

.btn, %btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    vertical-align: middle;
    cursor: pointer;

    &:focus:not(.btn-elevate) {
        box-shadow: none;
    }

    &:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}
